@import 'variable';

body {

}

a[href] {
    text-decoration: none;

}

.nav-bar {
    display: flex;
    flex-wrap: nowrap;
}

.avatar-wrapper {

    display: flex;
    align-items: center;
}

.avatar{
    width: 28px;
    height: 28px;
    border-radius: 50%;
   
}



.block {
    // display: flex;
    // justify-content: flex-start;
}