<div class="container">
    <div class="row">
            <div class="col-sm-4 block">
                <button type="button" class="btn btn-primary">Học ngay</button>
            </div>
            <div class="col-sm-8 block">
                <div class="name">{{course.name}}</div>

                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.courseId}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </div>

            </div>
    </div>

</div>
