<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      
        <li class="nav-item dropdown ">
          <div class="avatar-wrapper">
              <img class="avatar" src="https://scontent.fsgn13-4.fna.fbcdn.net/v/t39.30808-6/275182933_103500798956981_1767932502458221572_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0vMthTZJZ7kAX_nZbbJ&_nc_ht=scontent.fsgn13-4.fna&oh=00_AT9trxOT2T1NfMavmV-MWJ5zQT-zkd95LGaKuK5RYSS9pA&oe=632D55BD" alt="avatar">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Account
          </a>
           <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="/course/create">Create course</a></li>
            <li><a class="dropdown-item" href="/me/stored/course">My Courses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>

          </div>
         
        </li>

        
      
      </ul>
   
    </div>
  </div>
</nav>